#root {
  min-height: 100vh;
  display: flex;
}

.snack-game {
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.board {
  position: relative;
  display: flex;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid #fff;
  z-index: 1;
}
